:root{
    --width: 50px;
    --height: 50px;
}



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-image: linear-gradient( rgba(11, 143, 152, 0.803), rgba(238, 7, 69, 0.743));
   height: 100vh;
}

 
.flex-second {

    display: flex;
    justify-content: center;
    align-items: center;


    .drop-target{
        position: relative;
        height: 300px;
        width: 300px;
        margin: 250px;
       
    }
    
}



    
    .drag-item {
        float: left;
        height: var(--height);
        width: var(--width);
        position: absolute;
       
        
         
     

        &:hover {
            cursor: grab;
        }
        &:active{
            cursor: grabbing;
            border-radius: 50%;
        }
    }


.item1 {
    left: calc(45% - var(--width));
    top: 0;
}

.item2 {
    left: calc(50% - var(--width));
    top: 0;
}
.item3 {
    left: calc(55% - var(--width));
    top: 0;
}

.item4 {
    left: calc(60% - var(--width));
    top: 0;
}





   





  
 